<div class="banner" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/hR47GPQaZb0/1600x900);">
  <div class="container">
    <h1 class="font-acme">Lists of <strong>random movies</strong>!</h1>
    <p class="font-rubik">"My mama always said life was like a list of movies. You never know what you're gonna get." <em>-Hayashi Gump, 2021</em></p>
    <%= link_to "Create List", new_list_path , class: "btn btn-warning mb-2 font-rubik" %>
  </div>
</div>
