<nav class="navbar navbar-light sticky-top nav-bg-movie">
  <div class="container-fluid">
    <%= link_to "InfoClick!", lists_path , class: "h3 font-oleo mt-1" %>
    <%= icon('fas', 'film', class: "h3") %>
  </div>
</nav>
