<%= render "/lists/navbar" %>
<div class="container">
  <h1>New List</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, input_html: { placeholder: "All time favorite"} %>
    <%= f.submit %>
  <% end %>
</div>
