.small-carousel-btn {
  width: 48px;
}

.carousel-movie-base {
  background-color: rgba(230,126,0,0.3);
  transition: background-color 0.5s;
  &:hover {
    background-color: rgba(230,126,0,0.7);
  }
}